<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Review</title>
</head>

<body>

    <% if (locals.bookData) { %>
        <h1>Edit Review for <%= bookData.title %>
        </h1>

        <p>Author: <%= bookData.author %>
        </p>
        <p>ISBN: <%= bookData.isbn %>
        </p>
        <p>Published Year: <%= bookData.published_date %>
        </p>
        <form action="/update-review" method="post">
            <input type="hidden" name="book_id" value="<%= bookData.book_id %>">
            <label for="review">Review:</label><br>
            <textarea id="review" name="review" rows="4" cols="50"><%= bookData.review %></textarea><br><br>

            <button type="submit">Update Review</button>
        </form>

        <%} %>

</body>

</html>