<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Tracker</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="container">
        <form class="search-form" action="/search" method="post">
            <input type="text" name="query" placeholder="Search by Title or ISBN...">
            <button type="submit">Search</button>
        </form>

        <div class="book-search-results">
            <% if (locals.books && locals.books.length) { %>
                <h2>Results</h2>
                <ul>
                    <% books.forEach(book=> { %>
                        </li>
                        <li class="book">
                            <img class="book-image" src="<%= book.cover_url_small %>" alt="<%= book.title %>">
                            <div class="book-info">
                                <h3>
                                    <%= book.title %>
                                </h3>
                                <p class="book-author">
                                    Author: <span>
                                        <%= book.author %>
                                    </span>
                                </p>
                                <p>
                                    Published: <%= book.published_date %>
                                </p>
                                <p>
                                    ISBN: <%= book.isbn || "ISBN not available." %>
                                </p>
                            </div>
                        </li>
                        <% }) %>
                            <% } else if (locals.error) { %>
                                <p>
                                    <%= error %>
                                </p>
                                <% } %>
                </ul>
        </div>

        <div class="review-section">
            <form class="review-form hidden" action="/submit-review" method="post">
                <h2>Write a review</h2>
                <div class="review-book-image">
                    <img src="" alt="">
                </div>
                <div class="review-book-info">
                    <h3 class="review-book-title"></h3>
                    <p class="review-book-author"></p>
                </div>


                <textarea class="review-text" name="review" placeholder="Write your review..."></textarea>
                <button type="submit" class="submit-review">Submit Review</button>
            </form>
        </div>



    </div>

    <script src="js/index.js"></script>

</body>

</html>