<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Tracker</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <form action="/search" method="post">
        <input type="text" name="query" placeholder="Search by Title or ISBN...">
        <button type="submit">Search</button>
    </form>

    <div class="search-results">
        <% if (locals.books && locals.books.length) { %>
            <h2>Results</h2>
            <ul>
                <% books.forEach(book=> { %>
                    <li>
                        <img src="<%= book.cover_url_medium %>" alt="<%= book.title %>">
                        <h3>
                            <%= book.title %>
                        </h3>
                        <p>
                            Author: <%= book.author %>
                        </p>
                        <p>
                            Published: <%= book.publishedDate || "Published date not available." %>
                        </p>
                        <p>
                            ISBN: <%= book.isbn || "ISBN not available." %>
                        </p>
                    </li>
                    <% }) %>
                        <% } else if (locals.error) { %>
                            <p>
                                <%= error %>
                            </p>
                            <% } %>
            </ul>
    </div>



</body>

</html>