<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Review Tracker</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="container">
        <header>
            <h1>Book Review Tracker</h1>
        </header>

        <form id="search-form" class="search-form" action="/search" method="post">
            <input id="query" type="text" name="query" placeholder="Search by Title or ISBN..." required>
            <input type="hidden" id="profile_id" value="1" name="profile_id">
            <button type="submit">Search</button>
        </form>

        <div class="book-search-results">
            <% if (locals.books && locals.books.length) { %>
                <h2>Results</h2>
                <ul>
                    <% books.forEach(book=> { %>

                        <li class="book" data-cover-id="<%= book.cover_id %>"
                            data-cover-large="<%= book.cover_url_large  %>">
                            <img class="book-image" src="<%= book.cover_url_medium %>" alt="<%= book.title %>">

                            <div class="book-info">
                                <h3>
                                    <%= book.title %>
                                </h3>
                                <p class="book-author">
                                    Author: <span>
                                        <%= book.author %>
                                    </span>
                                </p>
                                <p class="book-published-date">
                                    Year published: <span>
                                        <%= book.published_date %>
                                    </span>
                                </p>
                                <p class="book-isbn">
                                    ISBN: <span>
                                        <%= book.isbn || "ISBN not available." %>
                                    </span>
                                </p>
                            </div>
                        </li>


                        <% }) %>
                            <% } else if (locals.error) { %>
                                <p>
                                    <%= error %>
                                </p>
                                <% } %>
                </ul>
        </div>

        <div class="review-section hidden">
            <form class="review-form" action="/reviews" method="post">
                <h2>Write a review</h2>
                <div class="review-book-image">
                    <img src="" alt="">
                </div>
                <div class="review-book-info">
                    <h3 class="review-book-title"></h3>
                    <p class="review-book-author">Author: <span></span></p>
                    <p class="review-book-published-date">Year published: <span></span></p>
                    <p class="review-book-isbn">ISBN: <span></span></p>

                </div>
                <!-- Hidden Input for book_id (cover_id) -->
                <!-- 🔹 Hidden Inputs to Ensure Data is Submitted in `req.body` -->
                <input type="hidden" name="title" id="review-book-title">
                <input type="hidden" name="author" id="review-book-author">
                <input type="hidden" name="isbn" id="review-book-isbn">
                <input type="hidden" name="published_date" id="review-book-published-date">
                <input type="hidden" name="book_id" id="review-book-id">


                <textarea class="review-text" name="review" placeholder="Write your review..."></textarea>
                <button type="submit" class="submit-review">Submit Review</button>
            </form>
        </div>



    </div>

    <script src="js/index.js"></script>

</body>

</html>